
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;    
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9AV23RQ_M8Kyqw389SEE6LRQbUSSv01QYLroBRxcu05mFimi-GIdIoaJ-x5VciQRYiMo&usqp=CAU");
       
}

